@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  // Divinding border radius which is 20 by 4
  border-radius: math.div($base-border-radius, 4);

  .card-title {
    font-size: $font-size-lg;
    padding-bottom: $base-padding;
    font-weight: bold;
  }

  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}
// if we want some kind of calculation which is a bit more complex and we want to debug it
// -- at debug rule which is used to post messages to the terminal down
@debug 'hello';
@debug math.div(10, 2);
@debug math.floor(2.6);
@debug math.max(1px, 20px, 15px);
