* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Defining Variables
$primary: #0045ad;
$big-font: 4rem;

// This is the example of mixins
@mixin flex($direction, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: center;
}
