.introduction {
  min-height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // This is called nesting
  h2 {
    font-size: $big-font;
    color: $primary;
  }

  button {
    border: none;
    background: transparent;
    background-color: $primary;
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 2px;
    font-size: 1.2rem;
    transition: all 0.4s ease;

    &:hover {
      background-color: lightblue;
      color: #fff;
    }
  }

  .box {
    color: orange;
  }
}
